*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    border: 0 none;
    box-sizing: border-box;
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/********** TITRE TAILLE MAX ********/
h1{
    text-align: center;
    font-size: 4em;
}
h1 span{
    color: #879650;
}
h2{
    font-size: 1.8em;
    padding-top: 2vh;
    text-align: center;
}
h3{
    text-align: center;
    padding-top: 9vh;
    font-size: 2.5em;
    font-family: 'Titillium Web', sans-serif;
}
/********** FIN TITRE TAILLE MAX ********/

/********** DEBUT NAV TAILLE MAX *******/
#main-nav{
    background: white;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.75);
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
}
#main-nav li{
    padding: 1em;
    float: right;
    color: black;
    text-align: center;
}
/********** FIN NAV TAILLE MAX *******/

/********** DEBUT MAIN TAILLE MAX **********/
main{
    margin: 0 auto;
    width: 100%;
}
#slide1, #slide2, #slide3, #slide4, #slide5{
    width: 100%;
    min-height: 100vh;
}
#slide1{
    background: url(../img/slide1-bg.jpg) center 0 no-repeat fixed;
    /* position: relative;*/
    /* z-index: 0; */
}
#slide2{
    background: #FDEFED;
}
#slide3{
    background:url(../img/slide2-bg.jpg) center 0 no-repeat fixed;
}
#slide4{
    background: #DFC8C5;
}
#slide5{
    background:url(../img/slide3-bg.jpg) center 0 no-repeat fixed;
}
.slide_inside {
	width: 80%;
    height: 100vh;
	margin: 0 auto;
    position: relative
}
/********** FIN MAIN TAILLE MAX **********/

/********** DEBUT PAGE ACCUEIL TAILLE MAX ********/
.info{
    background: rgba(255, 255, 255, 0.6);
    width: 60%;
    position: absolute;
    margin: 18% 23%;
    padding: 2%;
}
.info p{
    font-size: 1.5em;
    text-align: center
}
.info-description, .info-contact{
    padding-top: 2vh;
}
.info-description{
    text-align: center;
    padding-top: 2vh;
}
.info-contact{
    text-align: center;
}
.r-sociaux, .contact{
    width: 50%;
    float: left;
    margin-top: 1vh;
}
.contact{
    font-size: 1.5em;
}
.r-sociaux{
    font-size: 3em;
}
.contact a, .r-sociaux a{
    color: black;
}
.acces-form{
    margin-top: 10vh;
    clear: both;
    text-align: center;
}
.acces-form a{
    color: #879650;
    font-size: 2em;
}
/********** FIN PAGE ACCUEIL TAILLE MAX ********/

/********** DEBUT PAGE COMPETENCE **********/

.container-skillbar {
		width:80%;
		padding-top:12vh;
        margin: auto;
	}
	.skillbar {
		position:relative;
		display:block;
		margin-bottom:5vh;
		width:100%;
		background:#fff;
		height:4vh;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-webkit-transition:0.4s linear;
		-moz-transition:0.4s linear;
		-ms-transition:0.4s linear;
		-o-transition:0.4s linear;
		transition:0.4s linear;
		-webkit-transition-property:width, background-color;
		-moz-transition-property:width, background-color;
		-ms-transition-property:width, background-color;
		-o-transition-property:width, background-color;
		transition-property:width, background-color;
	}

	.skillbar-title {
		position:absolute;
		top:0;
		left:0;
		width:110px;
		font-weight:bold;
		font-size:0.9em;
		color:#fff;
		background:#6adcfa;
		-webkit-border-top-left-radius:3px;
		-webkit-border-bottom-left-radius:4px;
		-moz-border-radius-topleft:3px;
		-moz-border-radius-bottomleft:3px;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
	}

	.skillbar-title span {
		display:block;
		background:rgba(0, 0, 0, 0.15);
		padding:0 20px;
		height:4vh;
		line-height:4vh;
		-webkit-border-top-left-radius:3px;
		-webkit-border-bottom-left-radius:3px;
		-moz-border-radius-topleft:3px;
		-moz-border-radius-bottomleft:3px;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
	}

	.skillbar-bar {
		height:4vh;
		width:0px;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}

	.skillbar-percent {
		position:absolute;
		right:1vw;
		top:0;
		font-size:1em;
		height:4vh;
		line-height:4vh;
		color:gray;
	}

    .skillbar-title-HTML5, .skillbar-bar-HTML5{
        background-color: #DD1E2F;
    }
    .skillbar-title-CSS3, .skillbar-bar-CSS3{
        background-color: #EBB035;
    }
    .skillbar-title-JQUERY, .skillbar-bar-JQUERY{
        background-color: #06A2CB;
    }
    .skillbar-title-PHP, .skillbar-bar-PHP{
        background-color: pink;
    }
    .skillbar-title-MySQL, .skillbar-bar-MySQL{
        background-color: green;
    }
    .skillbar-title-BOOTSTRAP, .skillbar-bar-BOOTSTRAP{
        background-color: purple;
    }
    .skillbar-title-RESPONSIVE, .skillbar-bar-RESPONSIVE{
        background-color: #6adcfa;
    }
/********** FIN PAGE COMPETENCE **********/

/********* DEBUT PAGE FORMATION TAILLE MAX *******/
#slide_formation{
    width: 60%;
}
.container-formation{
    margin-top: 8vh;
}
.formation{
    margin-top: 2vh;
    background-color: white;
    background: rgba(221, 179, 172, 0.8);
}
.date_formation{
    width: 40%;
    background: rgba(158, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
}
.date_formation p{
    width: 100%;
    padding: 15%;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5em;
}
.description_form{
    width: 60%;
    float: right;
    padding-top: 3.5%;
    padding-left: 7%;
    font-size: 1.5em;
}
/********* FIN PAGE FORMATION TAILLE MAX *******/

/********* DEBUT PAGE REALISATION **********/
#slide_realisation{
   width: 100%;
}
.imgFlex{
   display: block;
   width: 85%;
   margin: 0 auto;
}
figure{
	width:30%;
	height:300px;
    margin: 4% 4% 0 0;
    float: left;
    position: relative;
    overflow: hidden;
}
.figDroite{
    margin: 4% 0 0 0;
}
figure img{
   width: 100%;
   height: 100%;
}
/* figure img:hover{
	transform: scale(1.1);
    transition: 1s;
} */
figcaption{
	position: absolute;
    width: 100%;
	background: #333;
	opacity: 0.9;
	color: white;
	text-align: center;
	padding: 5px;
	bottom: 0;
    font-size: 1.5em;
}
/********* FIN PAGE REALISATION *********/

/********* DEBUT PAGE CONTACT TAILLE MAX *******/
.container-form{
    width: 70%;
    margin: auto;
    margin-top: 8vh;
    background-color: rgba(138, 165, 159, 0.6);
}
.container-form .text-form{
    width: 60%;
    margin: auto;
    padding-top: 4vh;
}
.container-form .text-form p{
    text-align: center;
    font-size: 1.5em;
}
.container-form input, .container-form textarea{
    color: black;
    border: none;
    padding: 1em;
    margin: 2%;
    margin-left: 3%;
    width: 90%;
    font-family: 'Titillium Web', sans-serif;
}
.container-form #btn-form{
    width: 93.5%;
    margin-left: 1.7vw;
    cursor: pointer;
    color: black;
}
.container-form #btn-form:hover{
    background-color: #B0B168;
    transition: 1s;
}
.group-input-1, .group-input-2{
    width: 50%;
    float: left;
    margin-top: 3vh;
}
.group-input-1{
    width: 48%;
    margin-left: 1vw;
}
.group-input-1 input{
    margin-bottom: 3.3vh;
}
form span.error{
    color: red;
}

/********** FIN PAGE CONTACT TAILLE MAX **************/

/********** DEBUT FOOTER ********/
footer{
    background: #8AA59F;
}
footer p{
    text-align: center;
    color: #EBEBEB;
    width: 50%;
    line-height: 50px;
    float: left;
    background: #8AA59F;
    font-size: 1.5em;
}
.rs-footer{
    text-align: center;
}
.rs-footer a{
    font-size: 3em;
    color: #EBEBEB;
    padding: 0 15px;
}

/********** FIN FOOTER ********/


/****************************         RESPONSIVE         *********************************/
@media screen and (max-width:1400px){
    #slide_formation{
        width: 80%;
    }
}
@media screen and (max-width:1085px){
    .container-form{
        width: 90%;
    }
    #slide_formation{
        width: 90%;
    }
}
 @media screen and (max-width:992px){
    .info{
        width: 80%;
        margin: 14%;
    }
    h1{
        font-size: 3.5em;
    }
    h3{
        font-size: 2em;
        padding-top: 5vh;
    }
    /*Page réalisation*/
    .imgFlex{
        width: 100%;
        margin-left: 20vw;
    }
    figure{
        clear: both;
        width: 60%;
        height: 25vh;
        margin-top: 2%;
    }
    .figDroite{
        margin-top: 2%;
    }
    figure img{
        width: 100%;
    }
    figcaption{
        width: 100%;
    }/* fin réalisation*/

    /*Page formation*/
    .description_form{
        padding-top: 1.5%;
        padding-left: 3%;
    }

}
 @media screen and (min-width:780px){
     #toggle-nav{
         display: none;
     }
}
/*entre 780px et 1050px, le main fera 750px*/
 @media screen and (max-width:780px){
    /* Menu burger */
     #main-nav {
        width: 200px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -160px;
        transition: all .5s ease-in;
        background-color: inherit;
        box-shadow: inherit;
    }
    #toggle-ul {
        float: right;
        background-color: white;
        width: 150px;
        list-style-type: none;
        box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.75);
    }
    #main-nav.opened {
        right: 0;
    }
    #main-nav a{
        text-decoration: none;
        transform: none;
        color: black;
        text-align: center;
    }
    #main-nav li:hover{
        background-color: lightgray;
        width: 100%;
    }
    #main-nav i{
        font-size: 2em;
    }
    /* Fin menu burger */
    /*Page expérience et formation*/
    .date_formation{
        width: 100%;
    }
    .date_formation p{
        padding : 2%;
        font-size: 1em;
    }
    .description_form {
        padding: 2%;
        text-align: center;
        float: initial;
        width: 100%;
        font-size: 1.3em;
    }
    /* Classe gerant presentation page accueil */
    .info{
        width: 90%;
        margin: 27% 6%;
    }
    /* Container page competence */
    #slide_competence{
        width: 100%;
    }
    /* Footer */
    .rs-footer a{
        font-size: 1.3em;
        padding: 0;
        color: #EBEBEB;
        line-height: 9vh;
        text-align: left;
    }

}
@media screen and (max-width:652px){
    #slide-accueil{
        width: 100%;
    }
    .info{
        width: 90%;
    }
    .contact, .r-sociaux{
        clear: both;
        margin: auto;
        width: 96%;
        text-align: center;
    }
    /*Formulaire*/
    .container-form textarea{
        padding: 2% 3%;
    }

}
 /*entre 580px et 780px, le main fera 550px*/
 @media screen and (max-width:580px){
    #slide1, #slide2, #slide3, #slide4{
        width: 100%;
    }
    /* Barre de compétences*/
    .skillbar-bar-HTML5, .skillbar-bar-CSS3, .skillbar-bar-JQUERY, .skillbar-bar-PHP, .skillbar-bar-MySQL, .skillbar-bar-BOOTSTRAP, .skillbar-bar-RESPONSIVE{
        background-color: #fff;
    }
    figure img{
        width: 100%;
    }
    /*Formulaire contact */
    #slide_contact{
        width: 100%;
    }
    #h3_slide5{
        padding-top: 4vh;
    }
    .container-form{
        width: 100%;
        padding-top: 0;
        margin-top: 0;
        background-color: transparent;
    }
    .container-form .text-form{
        width: 92%;
    }
    .group-input-1, .group-input-2{
        float: initial;
        width: 100%;
        margin-top: 1%;
    }
    .group-input-1 input{
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    .container-form input:not(#btn-form), .container-form textarea{
        color: black;
        background-color: whitesmoke;
        padding: 0.5em;
    }
    .container-form #btn-form{
        padding: 0.5em;
    }
    /*Footer*/
    #footer-copyright{
        width: 75%;
    }
    #link-backoffice{
        width: 25%;
    }
}
@media screen and (max-width:460px){
    #slide_competence{
        width: 100%;
    }
    .container-skillbar {
    width: 92%;
    padding-top: 8vh;
    }
}
@media screen and (max-height:600px){
    .container-formation{
        margin-top: 0vh;
    }
}
