*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    border: 0 none;
}
main{
    margin: 0 auto;
    width: 80%;
}
body{
    font-family: 'Francois One', sans-serif;
}
/********** DEBUT NAV TAILLE MAX *******/
#main-nav{
    background: mistyrose;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.75);
}
#main-nav li{
    width: 95px;
}
#main-nav ul {
    list-style-type: none;
}
/********** FIN NAV TAILLE MAX *******/

/********** DEBUT MAIN TAILLE MAX **********/
#slide1, #slide2, #slide3, #slide4{
    /*float: left;*/
    width: 100%;
    height: 950px;
}
#slide1{
    background: url(../img/slide1-bg.jpg) center 0 no-repeat fixed;
}
#slide2{
    background: gray;
    height: 500px;
}
#slide3{
    background:url(../img/slide3-bg.jpg) center 0 no-repeat fixed;
}
#slide4{
    background: darkgray;
}

.slide_inside {
	width: 980px;
	margin: 0 auto;
    height : 950px;
}

/********** FIN MAIN TAILLE MAX **********/

/********** DEBUT FOOTER ********/
footer{
    background: cadetblue;
    height: 50px;
}
/********** FIN FOOTER ********/


/*************** RESPONSIVE ***************/
@media screen and (max-width:1050px){
    main{
        width: 100%;
    }

}
@media screen and (min-width:780px){
    main{
        width: 100%;
        margin-top: 2.5em;
    }
    #toggle-nav{
        display: none;
    }

    #main-nav li{
        width: 95px;
        float: right;
        color: black;
        padding: 1%;
        text-align: center;
    }
}
/*entre 780px et 1050px, le main fera 750px*/
@media screen and (max-width:780px){
    main{
        width: 100%;
    }
    /* Menu burger */
    #main-nav {
        width: 200px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -160px;
        transition: all .5s ease-in;
        background-color: inherit;
        box-shadow: inherit;
    }

    #main-nav ul {
        float: right;
        background-color: mistyrose;
        width: 150px;
        list-style-type: none;
        box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.75);
    }

    #main-nav.opened {
        right: 0;
    }
    #main-nav a{
        text-decoration: none;
        transform: none;
        color: black;
        text-align: center;
    }
    #main-nav li{
        border: 1px solid;
        padding: 10%;
        font-size: 1.2em;
    }
    #main-nav li:hover{
        background-color: lightgray;
    }
    #main-nav i{
        font-size: 2em;
    }
    /* Fin menu burger */
}
 /*entre 580px et 780px, le main fera 550px*/
@media screen and (max-width:580px){
    main{
        width: 100%;
        border: none;
    }

    #slide1, #slide2, #slide3, #slide4{
        width: 100%;
        height: 125px;
    }
    section{
        margin: 0;
    }
}
/*entre 0px et 580px le main fera 100% ainsi que les zones .a .b .c .d*/
